main {
  canvas {
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  :is(#celestials__layers, #stars__layers, #scenery__layers) {
    transform: translateX(-50%);
  }

  #scenery__layers {
    transform: translateX(-50%) scale(1.1);
  }
}
