*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: var(--nomotion, smooth);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-inline: auto;
  overflow-x: hidden;
  background-color: var(--color-0);
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  html[data-landscape='false'] & {
    background-color: var(--color-black);
  }
}

main {
  position: relative;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  word-wrap: normal !important;
  clip-path: inset(50%);
}
